{%load static%}
<!DOCTYPE html>
<html>

<head>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <script src="https://kit.fontawesome.com/3aab0d0a4c.js" crossorigin="anonymous"></script>
    <title>SARCasm</title>
    <link rel="icon" type="image/png" href="../static/img/register/favIcon.png"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="{%static '/css/login.css'%}"  />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Bebas Neue' rel='stylesheet'>
</head>
<body>

    <div class="wrap">

    <div id="reg-heading" class="blue-back">
        <h1>LOGIN</h1>
    </div>
    <br>
    <br>
    <div id="reg-section" class="blue-back">
        <div class="error_message">
        {{message}}
        </div>
        <form action="" method="POST" id="reg-form">
            {% csrf_token %}
            <div id="reg-section-content">
                
                <div class="container">
                    <div class="row">
                        <div class="col-lg">
                            <label>Username*</label>
                        </div>
                        <div class="col-lg">
                            <input type="text" name="username" placeholder="Leader Roll Number" required>
                        </div>
                        
                    </div>

                    <div class="row">
                        <div class="col-lg">
                            <label>Password*</label>
                        </div>
                        <div class="col-lg">
                            <input type="text" name="password" placeholder="Sent on Webmail" required>
                        </div>
                        
                    </div>
                    <div style="text-align: center; margin: 2rem 0; width: 100%;">
                        <input type="submit" value="SUBMIT" class="btn" style="width:auto; font-family: 'Bebas Neue'; background: linear-gradient(180deg, #FFD600 0%, #FF4D00 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
            letter-spacing: 0.05em;">
                    </div>
                </div>
            </div>




    </form>



    </div>

    </div>
    <script>

        $(document).ready(function() {
            $('.checkuser').on('input', function() {
              var field = $(this)
              var username = $(this).val();
              $.ajax({
                url: '/validate_username/',
                data: {
                  'username': username
                },
                dataType: 'json',
                success: function(data) {
                  if (data.is_taken) {
                    field.css("background-color", "#FF0000");
                  }
                  else {
                    field.css("background-color", "#00FF00");
                  }                  
                }
              });
            });
          });



          const error ="{{error_message}}"
          const freshie_err = "{{freshie_error_message}}"
          {% comment %} const list = {{ repeatroll|safe }} {% endcomment %}
          if(error.length!=0)
            alert(error+" whose roll number(s) is are "+"-{{ repeatroll|safe }}")
          if(freshie_err.length!=0)
            alert(freshie_err)
          console.log(error)
          console.log(list)

    </script>
    <script>

        $("#btn-next").click(function() {
            $(".team-logos").addClass("show-logos")
        })


        $('#player2_name').keyup(function() {
            if ($(this).val().length)
                $('#player3').show();
            else
                $('#player3').hide();
        });
        $('#player3_name').keyup(function() {
            if ($(this).val().length)
                $('#player4').show();
            else
                $('#player4').hide();
        });
        $('#player4_name').keyup(function() {
            if ($(this).val().length)
                $('#player5').show();
            else
                $('#player5').hide();
        });
        </script>
        <script>
            var input = document.getElementById("name-input");
            input.addEventListener("mouseover", function() {
              // Create the tooltip element
              var tooltip = document.createElement("div");
              tooltip.innerHTML = "Enter your name";
              tooltip.classList.add("tooltip");
              input.parentNode.appendChild(tooltip);
            });
            input.addEventListener("mouseout", function() {
              // Remove the tooltip element
              var tooltip = input.parentNode.querySelector(".tooltip");
              tooltip.parentNode.removeChild(tooltip);
            });
          </script>
</body>

</html>
