<!--  Illustrations from https://fr.freepik.com/vecteurs-libre/collection-feuilles-tropicales-vertes-realistes_7796168.htm -->

<<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="preloader.css">
    </head>
    <body>
        <div class = "center-tree-container">
            <svg viewBox="0 0 640 640" preserveAspectRatio="none">
            <defs>
            <path d="m0,0l208.2,0c3.47,30.89 5.64,50.2 6.51,57.92c24.64,218.93 120.2,423.79 272.11,583.34c0,0 0,0 0,0l-486.82,1.74l0,-643z" id="baPbqEzK6"/>
            <linearGradient id="svg_6" x1="0%" y1="0%" x2="100%" y2="0%">
            <stop offset="0%" stop-color="#291a07"/>
            <stop offset="70%" stop-color=" #000000"/>
            </linearGradient>
            </defs>
            <g>
            <title>background</title>
            <rect x="-1" y="-1" width="642" height="642" id="canvas_background" fill="none"/>
            </g>
            <g>
            <title>Layer 1</title>
            <g stroke="null" id="svg_1">
            <g stroke="null" id="svg_2">
            <g stroke="null" id="svg_3">
            <use stroke="null" xlink:href="#baPbqEzK6" fill="url(#svg_6)" id="svg_4" y="-181.099664" x="54.58077" transform="matrix(-0.6268845826465295,0,0,1.0014137698608725,358.76130768056566,180.71935613706512) "/>
            </g>
            </g>
            </g>
            <g stroke="null" id="svg_9">
            <g stroke="null" id="svg_8">
            <g stroke="null" id="svg_7">
            <use stroke="null" xlink:href="#baPbqEzK6" fill="url(#svg_6)" id="svg_5" y="-175.652819" x="82.879899" transform="matrix(0.6130734680445241,0,0,1.0014137698608725,271.91584743141806,175.26481063917083) "/>
            </g>
            </g>
            </g>
            </g>
            </svg>
            </div>
            <div class = "left-tree-container">
            <svg id="left-tree"  viewBox="0 0 640 640" preserveAspectRatio="none"><defs><path d="M0 0L208.2 0C211.67 30.89 213.84 50.2 214.71 57.92C239.35 276.85 334.91 481.71 486.82 641.26C486.82 641.26 486.82 641.26 486.82 641.26L0 643L0 0Z" id="baPbqEzK6"/><linearGradient y2="1" x2="0" y1="0" x1="1" id="svg_13">
            <stop stop-color="#654216" offset="0%"/>
            <stop stop-color="#010000" offset="80%"/>
            </linearGradient>
            </defs><g><g><g><use xlink:href="#baPbqEzK6" opacity="1" fill="url(#svg_13)"/></g></g></g></svg>
            </div>
            <div class = "right-tree-container">
            <svg viewBox="0 0 640 640" preserveAspectRatio="none">
            <defs><path id="baPbqEzK6" d="m0,0l208.2,0c3.47,30.89 5.64,50.2 6.51,57.92c24.64,218.93 120.2,423.79 272.11,583.34c0,0 0,0 0,0l-486.82,1.74l0,-643z"/>
            <linearGradient y2="1" x2="0" y1="0" x1="1" id="svg_12">
            <stop stop-color="#654216" offset="0%"/>
            <stop stop-color="#010000" offset="80%"/>
            </linearGradient>
            </defs>
            <g>
            <rect fill="none" id="canvas_background" height="402" width="582" y="-1" x="-1"/>
            </g>
            <g>
            <g stroke="null" id="svg_1">
            <g stroke="null" id="svg_2">
            <g stroke="null" id="svg_3">
            <use stroke="null" transform="matrix(-1.09523017942761,0,0,1,640.0000233221319,0) " x="0" y="0" id="svg_4" fill="url(#svg_12)" xlink:href="#baPbqEzK6"/>
            </g>
            </g>
            </g>
            </g>
            </svg>
            </div>
            <canvas id="canvas"></canvas>
            <canvas id="canvas1" class = "tallgrass"></canvas>
            <div class="glow"></div>
            <div class="pole-container">
            <div class ="pole"></div>
            <div class ="sign-1 sign"><a target = "_blank" href = "https://www.gabrielajohnson.com/">Home</a></div>
            <div class = "sign-2 sign"><a target = "_blank" href = "https://twitter.com/gabbyjohnsonweb">About</a></div>
            <div class = "sign-3 sign"><a target = "_blank" href = "https://medium.com/@gabrielajohnson">Contact</a></div>
            </div> 
        
    </body>
</html>
    <script type="javascript" src="preloader.js"></script>
    <script type="javascript" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/16327/SplitText3.min.js"></script>
    <script type="javascript" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/16327/ScrollTrigger.min.js"></script>
    <script type="javascript" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/16327/gsap-latest-beta.min.js"></script>